@model WalmartPro.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerUsername)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerPassword)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerMobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerMobileNumber)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SellerId" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
